:root {
  --text-color: #212121;
  --bgcolor: #fff;
  --active-color: #2196f3;
  --bgcolor-foter-top: #2f303a;
}

body {
  font-family: 'Roboto';
  background: var(--bgcolor);
  color: var(--text-color);
}

/* Reset tags */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* end reset tags */

/* defult styles */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section + .section {
  padding-top: 0;
}

/* header*/

.header-container {
  border-bottom: 1px solid #ececec;
}
.header {
  display: flex;
  align-items: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* border-bottom: 1px solid #ececec; */
}
.logotop {
  margin-right: 92px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.logotopblue {
  color: var(--active-color);
}

.navigation {
  display: flex;
  list-style-type: none;
}

.navigation-item {
  margin-right: 50px;
}

.navigation-item:last-child {
  margin-right: 0px;
}

.navigation-link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--text-color);

  transition-property: color;
  transition-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--active-color);
}

.navigation-link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;

  transform: translateX(-50%);
  display: block;
  width: 110%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--active-color);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover::after,
.navigation-link:focus::after {
  opacity: 1;
}
.contact-top {
  margin-left: auto;
  display: flex;
}

.contact-top-item + .contact-top-item {
  margin-left: 50px;
}
.infotop {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.infotop:last-child {
  margin-right: 0px;
}

.infotop:hover,
.infotop:focus {
  color: var(--active-color);
}

.contact_header_icon {
  margin-right: 10px;
  fill: currentColor;
}
/* end header */

/* main */

/* Hero Section */
.hero {
  max-width: 1600px;
  background-color: var(--bgcolor-foter-top);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.hero-header {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}
.hero-button {
  background: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: inline-block;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: 0px;
  cursor: pointer;
  padding: 10px 32px;
}

/* advantages */
.advantages-list {
  list-style-type: none;
  display: flex;
}
.advantages-list .item {
  margin-right: 30px;
  width: 270px;
}
.advantages-list .item:last-child {
  margin-right: 0;
}
.advantages_image {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.advantages-header {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}

/* What we do */
.skills-header {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}
.skills-list {
  display: flex;
  list-style-type: none;
}

.skills-list .item {
  margin-right: 30px;
}
.skills-list .item:last-child {
  margin-right: 0;
}

.skills-overlay {
  position: relative;
}
.skills-overlay-text-container {
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-overlay-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

/*Our command */
.command {
  padding-top: 94px;
  padding-bottom: 94px;

  background: #f5f4fa;
}
.command-header {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}
.command-list {
  display: flex;
  list-style-type: none;
}
.command-list-item {
  display: block;
  margin-right: 30px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-list-item:last-child {
  margin-right: 0;
}
.command-images {
  margin-bottom: 30px;
}

.member {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}
.member-header {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
}
.member-description {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.social_icons_list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--active-color);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #fff;
}

.company-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.company-list-item {
  width: 170px;
  height: 92px;
}

.company-link {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  justify-content: center;
  align-items: center;
  transition-property: border-color;
  transition-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.company-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.company-link:hover,
.company-link:focus {
  border-color: var(--active-color);
}

.company-link:hover .company-icon,
.company-link:focus .company-icon {
  fill: var(--active-color);
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--bgcolor-foter-top);
}
.footer-info {
  display: flex;
}

.adress-block {
  margin-right: 70px;
  width: 231px;
}
.logo-bottom {
  display: block;
  margin-bottom: 20px;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #ffffff;

  text-decoration: none;
}
.address-text {
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address-contact {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-contact:not(:last-child) {
  margin-bottom: 9px;
}
.address-contact:hover,
.address-contact:focus {
  color: var(--active-color);
}

.socials-footer-header {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.socials-bottom-icon {
  display: flex;
  gap: 10px;
}
.bottom-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-buttom {
  fill: #fff;
}

.bottom-social-link:hover,
.bottom-social-link:focus {
  background-color: var(--active-color);
}
.mailing {
  margin-left: 93px;
}

.mailing__header {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.mailing__form {
  display: flex;
  gap: 12px;
}
.mailing__input {
  background-color: #2f303a;
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;

  outline: unset;

  transition-property: border-color;
  transition-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing__input:focus {
  border-color: var(--active-color);
}
.mailing__button {
  height: 50px;
  width: 200px;
  background-color: var(--active-color);
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;
}
.mailing_icon {
  fill: #fff;
}
.filter-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-list-button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  cursor: pointer;

  transition-property: background, color, box-shadow;
  transition-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list-button:first-child {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 25px;
  padding-right: 25px;
}
.filter-list-button:hover,
.filter-list-button:focus {
  background: var(--active-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.project-list-item {
  display: flex;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
}

.project-list-item:nth-child(3n) {
  margin-right: 0;
}
.project-list-link {
  border: 1px solid #eeeeee;
  text-decoration: none;
  background: #ffffff;
  transition-property: box-shadow;
  transition-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list-link:hover,
.project-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list-link:hover .project-overlay,
.project-list-link:focus .project-overlay {
  transform: translateY(0);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;

  transition-property: transform;
  transition-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.project-info {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.project-list-header {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--text-color);
}
.project-list-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: #757575;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 528px;
  min-height: 581px;

  padding: 40px;

  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition-property: visibility, opacity;
  transition-duration: 500ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;

  width: 30px;
  height: 30px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  fill: #000;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-icon {
  fill: var(--active-color);
}

.current-page {
  color: var(--active-color);
}
.current-page::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;

  border-radius: 2px;
  background-color: var(--active-color);
  opacity: 1;

  transform: translateX(-50%);
  display: block;
  width: 110%;
  height: 4px;
}

.modal__header {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 12px;
}

.modal-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: #757575;

  margin-bottom: 4px;
}

.modal-form-wrapper {
  position: relative;
}

.icon__form {
  position: absolute;
  top: 11px;
  left: 12px;
  fill: #212121;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field {
  padding-left: 42px;
  padding-right: 10px;
  margin-bottom: 10px;

  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: unset;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field:focus {
  border: 1px solid var(--active-color);
  border-radius: 4px;
}

.modal-form-field:focus + .icon__form {
  fill: var(--active-color);
}

.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 14px;
  resize: none;
  outline: unset;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}

.modal-form-message::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  border-color: var(--active-color);
}

.modal__form-group {
  margin-bottom: 20px;
}

.agreement {
  position: relative;
  margin-bottom: 30px;
}

.agreement__link {
  color: var(--active-color);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  text-underline-position: under;
  margin-left: 9px;
}

.uncheck {
  opacity: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check {
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.modal-form-checkbox{
  position: absolute;
  bottom: 5px;
  left: 27px;
}
.modal-form-checkbox:checked + .modal-form-agreement-text .uncheck {
  opacity: 0;
}
.modal-form-checkbox:checked + .modal-form-agreement-text .check {
  opacity: 1;
}

.agreement__icon {
  margin-right: 7px;
}
.modal-form-agreement-text {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}
.modal-form-btn {
  display: flex;

  width: 200px;
  height: 50px;

  margin-left: auto;
  margin-right: auto;

  background-color: var(--active-color);
  color: #ffffff;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;

  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover {
  background: #188ce8;
}
